<div class="container" id="children-page">

    <div class="row">
        <h1 class="text-center description-title">
            Hi <%= user.name || user.uname %>. <br/>
            <small>Here is the list of all children registered under you</small>
        </h1>
    </div>

    <div class="navbar navbar-default">
        <div class="container">
            <a class="btn btn-default navbar-btn" href="#add-child">Add Child</a>
        </div>
    </div>

    <div class="row" id="children-list">

    </div>
</div>