<div class="container">

    <div class="row">
        <h1 class="text-center description-title">
            Hi <%= user.name || user.uname %>. <br/>
            <small>Here is the list of all children registered under you</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" id="add-child-form">

        </div>
    </div>

    <div class="row" id="children-list">

    </div>
</div>