<div class="container" id="children-page">

    <div class="navbar navbar-default polaroid">
        <div class="container-fluid">
            <div class="navbar-brand">
                Children registered under you
            </div>
            <div class="btn-group navbar-right right-pad navbar-btn">
                <a class="btn btn-primary" href="#add-child">
                    <span class="glyphicon glyphicon-plus"></span> Add Child
                </a>
                <button class="btn btn-default" id="refreshButton">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh List
                </button>
            </div>
        </div>
    </div>

    <div class="row" id="children-list">

    </div>
</div>