<!-- Top Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-brand ng-binding">
        <%= pageTitle %>
    </div>
</div>

<h1> Welcome to Vaccine for Child </h1>
<p> You are not logged in </p>