<div id="home-default">

    <!-- Top Navigation Bar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- title -->
            <div class="navbar-brand right-pad right-pad">
                <%= pageTitle %>
            </div>
            <!-- buttons -->
            <div class="navbar-right navbar-btn btn-group right-pad">
                <button type="button"
                        class="btn btn-danger"
                        ng-show="!appCtrl.user.confirmed"
                        ng-click="homeCtrl.showConfirm()">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Confirm Email
                </button>
                <button type="button" class="btn btn-default" ng-click="homeCtrl.showProfile()">
                    <span class="glyphicon glyphicon-user" ng-show="!appCtrl.user.avatar"></span>
                    <img href="{{appCtrl.user.avatar}}" alt="avatar" ng-show="appCtrl.user.avatar">
                    <b>{{appCtrl.user.uname}}</b>
                </button>
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <!--li role="separator" class="divider"></li-->
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content-wrapper">

        <h1> Welcome to Vaccine for Child </h1>

        <p> You are logged in as {{appCtrl.user.uname}} &lt;{{appCtrl.user.email}}&gt; </p>

    </div>

</div>