<div id="home-default">

    <!-- Top Navigation Bar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- title -->
            <div class="navbar-brand right-pad right-pad">
                <%= pageTitle %>
            </div>
            <!-- buttons -->
            <div class="navbar-right navbar-btn btn-group right-pad">
                <button type="button" class="btn btn-primary" ng-click="homeCtrl.showRegister()">
                    <span class="glyphicon glyphicon-user"></span> Create Account
                </button>
                <button type="button" class="btn btn-default" ng-click="homeCtrl.showLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </button>
            </div>
        </div>
    </div>

    <!-- Carousel -->
    <div id="content-wrapper">
        <h1>Welcome to <%= pageTitle %></h1>
        Please login or register your account.
    </div>

    <!-- Bottom Bar -->
    <div id="bottom-panel">

    </div>

</div>