<!-- Top Navigation Bar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- title -->
        <div class="navbar-brand right-pad">
            <%= pageTitle %>
        </div>
        <!-- buttons -->
        <div class="navbar-right navbar-btn btn-group">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span> Create Account
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </button>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container">

    <div class="carousel">
    
    </div>

    <h1> Welcome to Vaccine for Child </h1>

    <p> You are not logged in </p>

</div>