<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/styles/style.css'/>
    <link rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<h1> Welcome to <%= title %> </h1>

<script type="javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="javascript" src="/bower_components/angular/angular.js"></script>
<script type="javascript" src="/scripts/ngapp.js"></script>

</body>
</html>
