<div class="container thumbnail" id="vaccine-page" style="min-height: 500px;">

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-brand">
                List of all Vaccines
            </div>
            <div class="navbar-btn btn-group navbar-right right-pad">
                <% if(user.access > 0) { %>
                <a class="btn btn-default" href="#add-vaccine">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Vaccine
                </a>
                <% } %>
                <button class="btn btn-default" id="refresh-button">
                    <i class="glyphicon glyphicon-refresh"></i>
                    Refresh List
                </button>
            </div>
        </div>
    </div>

    <div id="vaccine-list">
        <div class="flex-full">Empty List</div>
    </div>

    <div id="vaccine-body" class="hidden">
        <div class="vaccine-body" id="vaccine-wrapper">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-medkit"></i>
                    <span id="title"></span>
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Apply time after birth</th>
                        <th>Time range to apply</th>
                        <% if(user.access > 0) { %>
                        <th>Action</th>
                        <% } %>
                    </tr>
                    </thead>
                    <tbody id="doses-list">

                    </tbody>
                </table>
            </div>
            <% if(user.access > 0) { %>
            <div class="modal-footer">
                <button class="btn btn-default" id="add-dose">
                    <i class="glyphicon glyphicon-edit"></i> Add Dose
                </button>
                <button class="btn btn-primary" id="edit-vaccine">
                    <i class="glyphicon glyphicon-edit"></i> Edit Vaccine
                </button>
                <button class="btn btn-warning" id="delete-vaccine">
                    <i class="glyphicon glyphicon-remove"></i> Delete Vaccine
                </button>
            </div>
            <% } %>
        </div>
    </div>

    <table class="hidden">
        <tbody id="dose-body">
        <tr id="dose-wrapper">
            <td id="name">Dose 3</td>
            <td id="dab">3 weeks</td>
            <td id="period">1 day</td>
            <% if(user.access > 0) { %>
            <td class="text-center">
                <div class="btn-group">
                    <button class="btn btn-primary" id="edit-dose">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </button>
                    <button class="btn btn-warning" id="delete-dose">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </div>
            </td>
            <% } %>
        </tr>
        </tbody>
    </table>

</div>