<div class="navbar navbar-inverse bottom-nav">
    <div class="container">
        <div class="navbar-text navbar-left">
            <h3>
                Vaccine for Child<br/>
                <small>Database Course Project</small>
            </h3>
            <div>
                <b>Dept. of Computer Science and Engineering,</b>
            </div>
            <div>
                <b><i>Shahjalal University of science and technology.</i></b>
            </div>
        </div>
        <div class="navbar-text navbar-right text-center">
            <h3>
                Developed by,
            </h3>
            <div class="navbar-text navbar-left">
                <b>Sudipto Chandra Das</b><br/>
                <a href="mailto:dipu.sudipta@gmail.com">dipu.sudipta@gmail.com</a>
            </div>
            <div class="navbar-text navbar-right">
                <b>Bishwajit Purkaystha</b><br/>
                <a href="mailto:bishwa420@gmail.com">bishwa420@gmail.com</a>
            </div>
        </div>
    </div>
</div>