<div class="modal-content polaroid child-data">
    <div class="modal-header height-padding">
        <h3 class="modal-title">
            <i id="gender" class="fa fa-2x fa-child"></i>
            <span id="name">Child Name</span>
        </h3>
    </div>
    <div class="modal-body text-left">
        <table class="table-condensed">
            <tr>
                <th>Age: <i class="fa fa-clock-o"></i> </th>
                <td id="age">10 days old</td>
            </tr>
            <tr>
                <th>Birthday: <i class="fa fa-calendar"></i> </th>
                <td id="dob">Thu 17 Mar, 2016</td>
            </tr>
            <tr>
                <th>Height: <i class="fa fa-street-view"></i> </th>
                <td id="height">3.75"</td>
            </tr>
            <tr>
                <th>Weight: <i class="fa fa-balance-scale"></i> </th>
                <td id="weight">2.5kg</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button id="edit" class="btn btn-primary">
                <i class="fa fa-edit"></i> Edit
            </button>
            <button id="delete" class="btn btn-warning">
                <i class="fa fa-remove"></i> Delete
            </button>
        </div>
    </div>
</div>