<div class="modal-content polaroid child-data">
    <div class="modal-header height-padding">
        <h3 class="modal-title">
            <i class="fa fa-child fa-2x"></i>
            <span id="name">Child Name</span>
        </h3>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal text-left">
            <dt>Age: <i class="fa fa-clock-o"></i></dt>
            <dd id="age">10 days old</dd>
            <dt>Birthday: <i class="fa fa-calendar"></i></dt>
            <dd id="dob">Thu 17 Mar, 2016</dd>
            <dt>Height: <i class="fa fa-street-view"></i></dt>
            <dd id="height">3.75"</dd>
            <dt>Weight: <i class="fa fa-balance-scale"></i></dt>
            <dd id="weight">2.5kg</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button id="edit" class="btn btn-primary">
                <i class="fa fa-edit"></i> Edit
            </button>
            <button id="delete" class="btn btn-warning">
                <i class="fa fa-remove"></i> Delete
            </button>
        </div>
    </div>
</div>