<div class="modal-content polaroid">
    <div class="modal-title text-center">
        <h4 id="name">Child Name</h4>
    </div>
    <div class="modal-body">
        <div>
            <label>Age:</label>
            <span id="age">10 days old</span>
        </div>
        <div>
            <label>Birthday:</label>
            <i class="fa fa-calendar"></i>
            <span id="dob">Februrary 29, 2016</span>
        </div>
        <div>
            <div class="col-xs-5 input-group">
                <label>Height:</label>
                <i class="fa fa-text-height"></i>
                <span id="height"></span>
                <span class="input-group-addon">"</span>
            </div>
            <div class="col-xs-5">
                <label>Weight:</label>
                <i class="fa fa-weibo"></i>
                <span id="height"></span>
                <span class="input-group-addon">KG</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="edit" class="btn btn-default">Edit</button>
        <button id="delete" class="btn btn-default">Save</button>
    </div>
</div>