<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- title -->
        <div class="navbar-header">
            <a class="navbar-brand right-pad" href="/" target="_self">
                <%= pageTitle %>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <% if (!user) { %>
        <!-- defult user buttons -->
        <div class="navbar-right height-padding navbar-collapse collapse">
            <div class="btn-group">
                <a type="button" class="btn btn-default" href="#login">
                    <span class="glyphicon glyphicon-log-in"></span> Sign In
                </a>
                <button class="btn btn-primary" onclick="focusRegForm();">
                    <span class="glyphicon glyphicon-user"></span> Create Account
                </button>
            </div>
        </div>

        <% } else { %>
        <!-- menu bar -->
        <ul class="nav navbar-left navbar-nav collapse navbar-collapse">
            <li role="separator" class="divider"></li>
            <% if(user.access) { %>
            <!--li id="users-li"><a href="#users">All Users</a></li-->
            <% } else { %>
            <li id="children-li"><a href="#children">All Children</a></li>
            <li id="takens-li"><a href="#takens">Doses Taken</a></li>
            <% } %>
            <li id="vaccines-li"><a href="#vaccines">All Vaccines</a></li>
        </ul>
        <!-- general user buttons -->
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <% if(!user.confirmed) { %>
            <li>
                <a href="#confirm">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Verify your Email
                </a>
            </li>
            <% } %>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="false" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    <b><%= user.name ? user.name : user.uname %></b>
                    <span class="sr-only">Toggle Dropdown</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu nav">
                    <li>
                        <a href="#profile">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit Profile
                        </a>
                    </li>
                    <li>
                        <a href="#change-pass">
                            <span class="glyphicon glyphicon-lock"></span>
                            Change Password
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/auth/logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <% } %>

    </div>
</div>