<div id="content-wrapper">
    <div class="col-md-8 col-sm-7">
        <h1>Welcome to <%= pageTitle %></h1>

        <h3 style="color:red;">You are not logged in.</h3>
        Please login or register an account.
    </div>

    <!-- Modal Form -->
    <div class="col-md-4 col-sm-5">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>
                    <span class="glyphicon glyphicon-fire"></span>
                    Register your account
                    <span class="glyphicon glyphicon-fire"></span>
                </h3>
            </div>
            <div class="well" id="register-form-wrapper">
                <!-- register form will be loaded here later -->
            </div>
        </div>
    </div>

</div>

