<div class="container-fluid">
    <div class="col-md-8 col-sm-7">
        <div class="container-fluid polaroid">
            <h2 class="col-xs-12 text-center description-title">
                Register now and save your child!
            </h2>
            <img src="/images/child.jpg" alt="child" class="col-md-8 col-xs-12"/>

            <div class="col-md-4 col-xs-12 description-text">
                Every year, lots of children die in different diseases which can be prevented just by maintaining a
                proper vaccination schedule. Do not let your child be the one of them.
                <mark>Register your account</mark>
                now and never forget a single day to vaccinate your dearest child.
                We will inform you by
                <mark>Mobile SMS</mark>
                or
                <mark>Email</mark>
                when a vaccination schedule comes for your child.
            </div>

            <blockquote class="col-xs-12 blockquote-reverse">
                <p title="view quote">
                    Childhood vaccines are one of the great triumphs of modern medicine. Indeed, parents whose children
                    are vaccinated no longer have to worry about their child's death or disability from whooping cough,
                    polio, diphtheria, hepatitis, or a host of other infections.
                </p>
                <footer>
                    <cite title="Ezekiel Emanuel">
                        Ezekiel Emanuel.
                        <a target="_blank"
                           href="http://www.brainyquote.com/quotes/quotes/e/ezekielema538073.html?src=t_vaccines"
                        >BrainyQuote.com</a>, Xplore Inc, 2016
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>

    <!-- Modal Form -->
    <div class="col-md-4 col-sm-5 modal-content" id="register-modal-content">
        <div class="modal-header text-center">
            <h4>
                <span class="glyphicon glyphicon-fire"></span>
                Register your account
                <span class="glyphicon glyphicon-fire"></span>
            </h4>
        </div>
        <div class="well-sm" id="register-form-wrapper">
            <!-- register form will be loaded here later -->
            <script>includeRegForm();</script>
        </div>
    </div>
</div>