<div class="container" id="general-home-page">
    <div class="thumbnail text-center">
        <div class="modal-header height-padding">
            <h3><i class="fa fa-calendar"></i> Upcoming schedules </h3>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                <tr class="text-left">
                    <th>Date</th>
                    <th>Task</th>
                </tr>
                </thead>
                <tbody id="schedule-list">

                </tbody>
            </table>
        </div>
    </div>

    <div class="thumbnail text-center" style="background: #ffffdd">
        <div class="modal-header height-padding">
            <h3><i class="fa fa-calendar"></i> Past schedules </h3>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                <tr class="text-left">
                    <th>Date</th>
                    <th>Task</th>
                </tr>
                </thead>
                <tbody id="past-schedule-list">

                </tbody>
            </table>
        </div>
    </div>

    <table id="empty-list" class="hidden">
        <tr>
            <td colspan="2">
                <div class="flex-full">Empty List</div>
            </td>
        </tr>
    </table>

    <table class="hidden">
        <tbody id="messege-data">
        <tr class="text-left">
            <td>
                <i class="fa fa-calendar-check-o"></i>
                <span id="fromd"></span> to
                <span id="tod"></span>
            </td>
            <td>
                <span id="past">Apply</span>
                <span id="dose"></span> of
                <span id="vaccine"></span> to
                <a id="child"></a>, from
                <span id="from"></span> to
                <span id="to"></span>.
            </td>
        </tr>
        </tbody>
    </table>

</div>