<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- title -->
        <div class="navbar-brand right-pad">
            <a href="/" target="_self">{{property.pageTitle}}</a>
        </div>
        <!-- defult user buttons -->
        <div class="navbar-right navbar-btn btn-group right-pad" ng-show="!user.id">
            <a type="button" class="btn btn-default" ng-click="appCtrl.showLogin()">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
            <a type="button" class="btn btn-primary" ng-click="appCtrl.showRegister()">
                <span class="glyphicon glyphicon-user"></span> Create Account
            </a>
        </div>
        <!-- general user buttons -->
        <div class="navbar-right navbar-btn btn-group right-pad" ng-show="user.id">
            <a type="button" class="btn btn-danger" ng-click="appCtrl.showConfirm()" ng-show="!user.confirmed">
                <span class="glyphicon glyphicon-warning-sign"></span>
                Verify your Email
            </a>
            <a type="button" class="btn btn-default" ng-click="appCtrl.showProfile()" target="_self">
                <span class="glyphicon glyphicon-user" ng-show="!user.avatar"></span>
                <img href="{{user.avatar}}" alt="avatar" ng-show="user.avatar">
                <b>{{user.uname}}</b>
            </a>
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="appCtrl.showChangePass()" target="_self">
                    <span class="glyphicon glyphicon-edit"></span>Change Password
                </a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/auth/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </a></li>
            </ul>
        </div>
    </div>
</div>