<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- title -->
        <div class="navbar-brand right-pad right-pad">
            {{property.pageTitle}}
        </div>
        <!-- buttons -->
        <div class="navbar-right navbar-btn btn-group right-pad">
            <button type="button" class="btn btn-primary" ng-click="appCtrl.showRegister()">
                <span class="glyphicon glyphicon-user"></span> Create Account
            </button>
            <button type="button" class="btn btn-default" ng-click="appCtrl.showLogin()">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </button>
        </div>
    </div>
</div>