<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- title -->
        <div class="navbar-brand right-pad right-pad">{{property.pageTitle}}</div>
        <!-- buttons -->
        <div class="navbar-right navbar-btn btn-group right-pad">
            <button type="button"
                    class="btn btn-danger"
                    ng-show="!user.confirmed"
                    ng-click="appCtrl.showConfirm()">
                <span class="glyphicon glyphicon-warning-sign"></span>
                Confirm Email
            </button>
            <button type="button" class="btn btn-default" ng-click="appCtrl.showProfile()">
                <span class="glyphicon glyphicon-user" ng-show="!user.avatar"></span>
                <img href="{{user.avatar}}" alt="avatar" ng-show="user.avatar">
                <b>{{user.uname}}</b>
            </button>
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="appCtrl.showChangePass()"><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>