html, body {
    height: 100%;
    margin: 0;
    background: #0f0f0f url("/images/pattern2.jpg");
}

.navbar-inverse {
    background: url('/images/pattern4.png');
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.polaroid {
    background: url('/images/pattern3.png') #fffbf3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 5px;
}

.content-wrapper {
    margin: 0;
    height: 85%;
    padding: 0 15px 0 15px;
}

.description-title {
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 5px 0;
    border-bottom: ridge;
}

.description-text {
    color: #333;
    font-size: medium;
    text-align: justify;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#bottom-panel {
    margin: 5px 0 0 0;
    padding: 15px;
    background: #8c8c9c;
}

#error-box {
    display: block;
    text-align: center;
    font-size: small;
    color: #330;
}

#submit-button {
    padding: 10px 60px 10px 60px;
}

#register-modal-content {
    margin: 10px 0 10px 0;
    background-image: url('/images/pattern1.jpg');
}

#profileEditor {
    padding: 10px;
    background-image: url('/images/pattern1.jpg');
}

/*
 Paddings
*/
.width-padding {
    padding: 0 5px 0 5px;
}

.height-padding {
    padding: 8px 0 5px 0;
}

.top-pad {
    padding-top: 10px;
}

.right-pad {
    padding-right: 10px;
}

.bottom-pad {
    padding-bottom: 10px;
}

.left-pad {
    padding-left: 10px;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}