.width-padding {
  padding: 0 5px 0 5px;
}
.height-padding {
  padding: 5px 0 5px 0;
}
.top-pad {
  padding-top: 10px;
}
.right-pad {
  padding-right: 10px;
}
.bottom-pad {
  padding-bottom: 10px;
}
.left-pad {
  padding-left: 10px;
}