<form class="form-horizontal" id="addChildForm" method="post" action="javascript:null;">
    <div class="form-group">
        <div class="col-xs-3 text-right"><label class="control-label">Child Name:</label></div>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="name" placeholder="Name of your child">
        </div>
    </div>
    <div class="form-group">
        <div class="text-right col-xs-3"><label class="control-label">Birthday:</label></div>
        <div class="col-xs-9">
            <select class="form-control" name='year' title="Year"></select>
            <select class="form-control" name='month' title="Month"></select>
            <select class="form-control" name='day' title="Day" id="date-data"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 text-right"><label class="control-label">Height:</label></div>
        <div class="col-xs-9">
            <div class="input-group">
                <input type="number" class="form-control" name="height" placeholder="Height of child">
                <span class="input-group-addon">inches</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 text-right"><label class="control-label">Weight:</label></div>
        <div class="col-xs-9">
            <div class="input-group">
                <input type="number" class="form-control" name="weight" placeholder="Weight of child">
                <span class="input-group-addon">kilograms</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- form output -->
        <div class="text-center text-info well-sm" id="error-box"></div>
        <!-- modal buttons -->
        <input type="submit" class="btn btn-primary btn-block" value="Add Child"/>
    </div>
</form>

<!--[if (gt IE 8)|!(IE)]><!-->
<script>
    (function () {
        var form = $('#addChildForm');
        var errBox = form.find('#error-box');
        var submitButton = form.find(':submit');
        var year = form.find('select[name="year"]');
        var month = form.find('select[name="month"]');
        var day = form.find('select[name="day"]');

        var monthDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];

        var setDates = function (mon, year) {
            var max = monthDays[mon];
            if (year % 4 == 0 && mon == 2) ++max;
            day.html('');
            for (var d = 1; d <= max; ++d) {
                day.append('<option value="' + d + '">' + d + '</option>');
            }
        }
        var setMonths = function () {
            month.html('');
            for (var m = 0; m < 12; ++m) {
                month.append('<option value="' + m + '">' + monthNames[m] + '</option>');
            }
        };
        var setYears = function () {
            year.html('');
            var cur = (new Date()).getFullYear();
            for (var y = 0; y <= 20; ++y, --cur) {
                year.append('<option value="' + cur + '">' + cur + '</option>');
            }
        }

        setYears();
        setMonths();
        setDates(1);

        month.on('change', function () {
            setDates(month.val(), year.val());
        });
        year.on('change', function () {
            setDates(month.val(), year.val());
        });

        form.validate({
            submitHandler: function () {
                submitButton.attr('disabled', true);
                $.post('/user/add-child', form.serialize())
                        .done(function (result, status, jqXHR) {
                            if (result === 'OK') {
                                form.trigger("reset");
                                alert('Child added!');
                            } else {
                                errBox.text(result);
                            }
                        })
                        .error(function (result, status) {
                            console.log(result);
                            errBox.text('Connection Failed');
                        })
                        .always(function () {
                            submitButton.attr('disabled', false);
                        });
            },
            errorPlacement: function (error, element) {
                errBox.html(error);
            },
            rules: {},
            messages: {}
        });
    })();
</script>
<!--<![endif]-->
