<!-- Register form -->
<form name="registerForm"
      ng-controller="ChangePassController as passCtrl"
      ng-submit="passCtrl.changePass()" novalidate>
    <div class="form-group">
        <label for="old" class="control-label">Old Password:</label>
        <input type="password" maxlength="24" class="form-control" ng-model="passCtrl.user.old"
               id="old" placeholder="Old Password">
    </div>
    <div class="form-group">
        <label for="password" class="control-label">New Password:</label>
        <input type="password" maxlength="24" class="form-control" ng-model="passCtrl.user.password"
               id="password" placeholder="New Password">
    </div>
    <div class="form-group">
        <label for="passwd" class="control-label">Retype Password:</label>
        <input type="password" maxlength="24" class="form-control" ng-model="passCtrl.user.passwd"
               id="passwd" placeholder="Retype Password">
    </div>
    <div class="modal-footer">
        <!-- form output -->
        <div class="text-center text-info well" ng-show="passCtrl.error"><b>{{passCtrl.error}}</b></div>
        <!-- modal buttons -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Change" id="change-pass-button"/>
    </div>
</form>