<!-- Confirm form  -->
<form id="confirmForm">
    <div class="form-group">
        <label class="control-label">Confirmation code:</label>
        <input type="text" class="form-control" name="code" placeholder="Code">
    </div>
    <!-- code send button -->
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="Check" id="confirm-check-button"/>
    </div>
    <div class="modal-footer">
        <!-- form status -->
        <div class="text-center text-info well-sm" id="error-box"></div>
        <!-- modal buttons -->
        <label class="control-label text-left">Do not have a code? Please click this button to resend code- </label>
        <button type="button" class="btn btn-danger btn-block" id="confirm-code-button">Resend Code!</button>
    </div>
</form>

<script>
    (function () {
        var form = $('#confirmForm');
        var errBox = $('#confirmForm#error-box');
        var sendButton = $('#confirmForm #confirm-code-button');
        var checkButton = $('#confirmForm #confirm-check-button');
        sendButton.click(function () {
            sendButton.attr('disabled', true);
            sendButton.html('Sending Code...');
            $.post('/auth/mail-confirm')
                    .done(function (err, res) {
                        errBox.text('Confirmation Code Sent!');
                    })
                    .error(function (result, status) {
                        console.log(result);
                        errBox.text('Connection Failed');
                    })
                    .always(function () {
                        sendButton.html('Resend Code!');
                        sendButton.attr('disabled', false);
                    });
        });
        form.validate({
            submitHandler: function () {
                checkButton.attr('disabled', true);
                checkButton.html('Checking...');
                $.post('/auth/confirm', form.serialize())
                        .done(function (result, status, jqXHR) {
                            if (result === 'OK') {
                                checkButton.html('Redirecting...');
                                window.location.href = '/';
                            } else {
                                errBox.text(result);
                            }
                        })
                        .error(function (result, status) {
                            console.log(result);
                            errBox.text('Connection Failed');
                        })
                        .always(function () {
                            checkButton.html('Check');
                            checkButton.attr('disabled', false);
                        });
            },
            errorPlacement: function (error, element) {
                errBox.html(error);
            },
            rules: {
                code: {
                    required: true
                }
            },
            messages: {
                code: {
                    required: "The confirmation is required"
                }
            }
        });

    })();
</script>