<form id="confirmForm">
    <div class="form-group">
        <p class="form-control-static"><b>Email: </b><%= user.email %></p>
    </div>
    <div class="form-group">
        <label class="control-label">Confirmation code:</label>
        <input type="text" class="form-control" name="code" placeholder="Code">
    </div>
    <!-- code send button -->
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="Check" id="confirm-check-button"/>
    </div>
    <div class="modal-footer">
        <!-- form status -->
        <div class="text-center text-info well-sm" id="error-box"></div>
        <!-- modal buttons -->
        <label class="control-label text-center">Do not have a code? Please click this button to resend it.</label>
        <button type="button" class="btn btn-danger btn-block" id="confirm-code-button">Resend Code!</button>
    </div>
</form>
