<!-- Confirm form  -->
<form id="confirmForm">
    <div class="form-group">
        <label class="control-label">Confirmation code:</label>
        <input type="text" class="form-control" name="code" placeholder="Code">
    </div>
    <!-- code send button -->
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-block" id="confirm-code-button"> Send Code!</button>
    </div>
    <div class="modal-footer">
        <!-- form status -->
        <div class="text-center text-info well" id="error-box"></div>
        <!-- modal buttons -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Check" id="confirm-check-button"/>
    </div>
</form>

<script>
    (function () {
        $('#confirmForm').validate({
            submitHandler: function () {

            },
            errorPlacement: function (error, element) {
                $('#error-box').html(error);
            },
            rules: {},
            messages: {}
        });

        var code = null;
        var sendButton = $('#confirm-code-button');
        function sendCode() {
            sendButton.attr('disabled', true);
            sendButton.html('Sending Code...');
            $.post('/auth/mail-confirm')
                    .done(function (err, res) {
                    })
                    .error(function (result, status) {
                        console.log(result);
                        showFormError('Connection Failed');
                    })
                    .always(function () {
                        sendButton.html('Send Code');
                        sendButton.attr('disabled', false);
                    });
        }

        sendButton.click(function () {
            sendCode();
        })

        sendCode();

    })();
</script>