<!-- invalid form -->
<div class="text-center text-info well">
    Sorry! <br>
    You are not eligible to view this form.
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>